body {
    font-family: 'Roboto', sans-serif;
    color: #333;
background-color: #efefef;
opacity: 1;
background-image:  radial-gradient(#cdd4d6 3px, transparent 3px), radial-gradient(#cdd4d6 2px, #efefef 2px);
background-size: 80px 80px;
background-position: 0 0,40px 40px;    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #336699;
    padding: 10px 0;
}

header nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav a:hover {
    color: #4CAF50;
}

main {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator-container input[type="text"],
.calculator-container select {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav a {
        margin: 10px 0;
    }
}
